.button {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding: 16px 16px 15px;
  background-color: transparent;
  border: solid 3px #ffffff;
  border-radius: 30px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: #ffffff;
    color: $accent-color;
  }

  &:active {
    background-color: #ffffff;
    color: $accent-color_inactive;
  }

  &--accent {
    color: $accent-color;
    border-color: $accent-color;

    &:focus,
    &:hover {
      background-color: $accent-color;
      color: #ffffff;
    }

    &:active {
      background-color: $accent-color;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--disabled {
    color: $dark-blue;
    opacity: 0.1;
    border-color: $dark-blue;

    &:focus,
    &:hover {
      opacity: 0.3;
      color: $dark-blue;
    }

    &:active {
      background-color: $dark-blue;
      color: rgba(255, 255, 255, 0.3);
      opacity: 0.3;
    }
  }
}
