.filter-range {
  position: relative;
  width: 50px;
  height: 15px;

  &:nth-of-type(1) {
    .filter-range__toggle {
      left: 83%;

      @media (min-width: $tablet-width) {
        left: 75%;
      }

      @media (min-width: $desktop-width) {
        left: 27%;
      }
    }
  }

  &:nth-of-type(2) {
    .filter-range__toggle {
      @media (min-width: $tablet-width) {
        left: 15%;
      }

      @media (min-width: $desktop-width) {
        left: 88%;
      }
    }
  }

  &:nth-of-type(3) {
    .filter-range__toggle {
      @media (min-width: $desktop-width) {
        left: 58%;
      }
    }
  }
}

.filter-range__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  background-color: $dark-blue;
  transform: translate(-50%, -50%);
}

.filter-range__toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 11px;
  height: 11px;
  background-color: $bgc-grey;
  border: 2px solid $accent-color;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &:active {
    background-color: $accent-color;
  }
}
