.form {
  padding-top: 35px;
  padding-bottom: 2px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding-top: 69px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
    padding-top: 79px;
  }
}

.form__full-name-group {
  @include container;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 20px 21px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-bottom: 14px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    margin: 5px 0 15px;
  }
}

.form__name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }

  label {
    padding-left: 22px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: $accent-color;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding-left: 0;
      padding-bottom: 0;
      padding-right: 17px;
    }
  }

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 20px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
    outline: 0;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }

    &:hover {
      border-color: #283646;
    }

    &:focus {
      border-color: $accent-color;
    }

    &:last-child {
      margin-bottom: 0;

      @media (min-width: $tablet-width) {
        margin-bottom: 0;
      }
    }
  }
}

.form__group-title {
  @include container;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: $accent-color;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -10px;
    left: 50%;
    width: auto;
    margin: 0;
    padding: 0 29px;
    background-color: #ffffff;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.form__achievements-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 4px;
  background-color: $bgc-grey;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    order: 4;
    align-items: flex-start;
    position: relative;
    width: 620px;
    margin: 0 auto 65px;
    padding: 22px 59px 13px;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 940px;
    padding-top: 47px;
    padding-right: 0;
    padding-bottom: 18px;
  }

  input {
    display: none;

    &:checked + label {
      &::before {
        background-image: url("../img/icon-checkbox-yes.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 22px 16px;
      }
    }
  }

  label {
    position: relative;
    width: 210px;
    margin-bottom: 32px;
    padding: 10px 0 10px 70px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-left: 57px;
    }

    @media (min-width: $desktop-width) {
      width: 220px;
      margin-right: 38px;
    }

    &:first-of-type {
      margin-top: 25px;

      @media (min-width: $desktop-width) {
        margin-top: 0;
      }
    }

    &:nth-of-type(3n + 2) {
      @media (min-width: $desktop-width) {
        margin-right: 20px;
      }
    }

    &:nth-of-type(3n) {
      @media (min-width: $desktop-width) {
        width: 170px;
        margin-right: 0;
      }
    }

    &:nth-of-type(1) {
      order: 1;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 5;
    }

    &:nth-of-type(4) {
      order: 2;
    }

    &:nth-of-type(5) {
      order: 4;
    }

    &:nth-of-type(6) {
      order: 6;
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      @media (min-width: $desktop-width) {
        order: 0;
      }
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 35px;
      height: 35px;
      background-color: #ffffff;
      border: 2px solid #e5e5e5;
      border-radius: 2px;
      transform: translateY(-50%);

      &:hover {
        border-color: $dark-blue;
      }

      &:active {
        border-color: $accent-color;
      }
    }

    &:hover {
      &::before {
        border-color: $dark-blue;
      }
    }

    &:active {
      &::before {
        border-color: $accent-color;
      }
    }
  }
}

.form__contacts-group {
  @include container;
  box-sizing: border-box;
  padding: 31px 20px 25px;

  @media (min-width: $tablet-width) {
    order: 3;
    position: relative;
    margin-bottom: 64px;
    padding: 45px 58px 0;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
    padding-top: 41px;
  }

  .form__group-title {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  label {
    padding-left: 22px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: $accent-color;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 0;
      margin-bottom: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 12px;
    }
  }

  input {
    @include input-text;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 17px;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      border-right-width: 62px;
    }

    @media (min-width: $desktop-width) {
      width: 375px;
    }
  }
}

.form__contacts-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form__tel-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}

.form__tel-inner {
  position: relative;
  line-height: 0;

  &::before {
    @include contact-icon;
    background-image: url("../img/icon-phone.svg");
    background-size: 20px 19px;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.form__email-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}

.form__email-inner {
  position: relative;
  line-height: 0;

  &::before {
    @include contact-icon;
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 13px;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.form__app-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 9px;
  background-color: $bgc-grey;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    order: 2;
    align-items: flex-start;
    position: relative;
    width: 620px;
    margin: 0 auto 65px;
    padding: 26px 60px 25px;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  @media (min-width: $desktop-width) {
    width: 435px;
    height: 300px;
    margin: 0 0 65px;
    padding: 28px 76px 25px;
  }

  input {
    display: none;

    &:checked + label {
      &::before {
        background-color: $accent-color;
      }
    }
  }

  label {
    position: relative;
    width: 210px;
    margin-bottom: 25px;
    padding: 10px 0 10px 70px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: auto;
      padding-left: 57px;
    }

    &:first-of-type {
      margin-top: 20px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      border: 10px solid #ffffff;
      border-radius: 50%;
      box-shadow: 0 0 0 2px #e5e5e5;
      transform: translateY(-50%);
    }

    &:hover {
      &::before {
        box-shadow: 0 0 0 2px $dark-blue;
      }
    }

    &:active {
      &::before {
        box-shadow: 0 0 0 2px $accent-color;
      }
    }
  }
}

.form__text-group {
  @include container;
  box-sizing: border-box;
  padding: 38px 20px;
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    order: 5;
    position: relative;
    margin-bottom: 69px;
    padding: 38px 58px 41px;
    border: 2px solid #e5e5e5;
    border-radius: 2px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
    padding: 35px 58px;
  }

  .form__group-title {
    width: auto;
  }

  textarea {
    @include input-text;
    box-sizing: border-box;
    width: 100%;
    min-height: 200px;
    margin-top: 7px;
    font: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: $dark-blue;
    resize: vertical;

    @media (min-width: $tablet-width) {
      min-height: 193px;
    }

    @media (min-width: $desktop-width) {
      min-height: 128px;
    }
  }
}

.form__btn-group {
  @include container;
  box-sizing: border-box;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__send-btn {
  width: 100%;
  margin-bottom: 20px;
  padding: 18px 20px 17px;
  background-color: $green;
  border: none;
  border-radius: 2px;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  &:hover {
    background-color: $green_active;
  }

  &:active {
    background-color: $green_active;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}

.form__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;
  text-transform: uppercase;
}

.form__note-asterisk {
  color: $accent-color;
}

.form__note-hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
