.main-nav {
  background-color: $dark-blue;
}

.main-nav__toggle {
  border: none;

  &--hamburger {
    height: 24px;
    width: 50px;
    background: url("../img/icon-menu-burger.svg") no-repeat 0 0;
  }

  &--close {
    height: 23px;
    width: 24px;
    background: url("../img/icon-menu-cross.svg") no-repeat 0 0;
  }
}

.main-nav__list {
  @include reset-list;
}

.main-nav__item {
  border-top: solid 1px #485461;
  border-bottom: solid 1px #000000;
}

.main-nav__link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}
