.map {
  position: relative;
  height: 200px;
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: url("../img/bg-triangle-white-footer.svg") no-repeat center 0;
    background-size: contain;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 95px;
    left: 50%;
    transform: translateX(-50%);;
    width: 36px;
    height: 36px;
    background: url("../img/icon-map-marker.svg") no-repeat center 0;
  }
}

.map__wrapper {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: $bgc-grey url("../img/bg-map-mobile@1x.png") no-repeat center bottom;
  background-size: 320px auto;

  @media (max-width: $mobile-width) and (min-resolution: $retina-dpi),
  (max-width: $mobile-width) and (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

}

@media (min-width: $tablet-width) {
  .map {
    height: 373px;

    &::after {
      top: 192px;
    }
  }

  .map__wrapper {
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center -315px;
    background-size: 660px auto;

    @media (min-width: $tablet-width) and (min-resolution: $retina-dpi),
    (min-width: $tablet-width) and (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }
}

@media (min-width: $desktop-width) {
  .map {
    height: 493px;

    &::before {
      height: 95px;
    }

    &::after {
      top: 255px;
    }
  }

  .map__wrapper {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-size: 100% auto;

    @media (min-width: $desktop-width) and (min-resolution: $retina-dpi),
    (min-width: $desktop-width) and (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }
}
