.page-footer__inner {
  padding-top: 40px;
  padding-bottom: 40px;

  &--hidden-on-mobile {
    display: none;
  }
}

.page-footer__wrapper {
  text-align: center;
}

.page-footer__logo {
  margin-bottom: 30px;

  &--desktop {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    padding-top: 36px;
    padding-bottom: 50px;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .page-footer__inner--hidden-on-mobile {
    display: block;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__inner {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .page-footer__logo {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
