.photo-editor {
  background-color: $bgc-grey;
}

.photo-editor__tool {
  &--crop {
    height: 44px;
    width: 44px;
    background: url("../img/icon-editor-crop.svg") no-repeat 0 0;
  }

  &--color {
    height: 48px;
    width: 48px;
    background: url("../img/icon-editor-fill.svg") no-repeat 0 0;
  }

  &--contrast {
    height: 32px;
    width: 32px;
    background: url("../img/icon-editor-contrast.svg") no-repeat 0 0;
  }
}
