.social {
  margin-bottom: 39px;
}

.social__list {
  @include reset-list;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.social__item {
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;
  height: 45px;
  width: 45px;

  border: solid 3px #e9ebec;
  border-radius: 25px;

  &--twitter {
    background: url("../img/icon-twitter.svg") no-repeat center center;
  }

  &--facebook {
    background: url("../img/icon-facebook.svg") no-repeat center center;
  }

  &--youtube {
    background: url("../img/icon-youtube.svg") no-repeat center center;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
  }

  .social__list {
    margin-right: 15px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    margin-right: 0;
    margin-left: 12px;
  }
}
