$bgc-grey: #f2f2f2;
$dark-blue: #283645;
$accent-color: #d22856;
$accent-color_inactive: rgba(210, 40, 86, 0.3);
$green: #2aab6d;
$green_active: #1c9b5e;

$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 960px;

$mobile-container-width: 280px;
$tablet-container-width: 620px;
$desktop-container-width: 940px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
